includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src
        - config
    tmpDir: build/phpstan

    excludes_analyse:
        - vendor/artem_c/emmet/src/Data.php

    ignoreErrors:
        - '#Unsafe usage of new static#'
