includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src
        - config
    bootstrapFiles:
        - vendor/bagisto/bagisto/packages/Webkul/Core/src/Http/helpers.php

    tmpDir: build/phpstan

    excludePaths:
        analyse:
            - vendor/artem_c/emmet

    ignoreErrors:
        - '#Unsafe usage of new static#'
